Package: com.hidoxd.allwallpapers
Name: AllWallpapers
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Unlock all wallpaper collection limits in PosterBoard for iOS 18.
Maintainer: hidoxd
Author: hidoxd
Section: Tweaks
Version: 0.2.0
